<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.csu.dyp.Persistence.CartMapper">
    <insert id="addCart">
        insert Into cartInfo (userId,itemId,quantity)
        values (#{userId},#{itemId},#{quantity})
    </insert>

    <delete id="deleteCartByItemId">
        delete from cartinfo where userId =#{userId} and itemId = #{itemId}
    </delete>

    <delete id="deleteCartByUserId">
        delete from cartinfo where userId =#{userId}
    </delete>

    <select id="getCartByUserId" parameterType="int" resultType="CartItem">
    select cartInfo.itemId,productName,listPrice,attributes,quantity
    from cartInfo,itemInfo,productInfo
    where userId = #{userId} and cartInfo.itemId = itemInfo.itemId and itemInfo.productId = productInfo.productId
    </select>

    <select id="getQuantityByItemId" resultType="java.lang.Integer">
        select quantity
        from cartInfo
        where userId = #{userId} and itemId = #{itemId}
    </select>

    <update id="updateCartQuantity">
        update cartInfo
    <set>
        <if test="quantity!=null">
            quantity=#{quantity}
        </if>
    </set>
    where userId = #{userId} and itemId = #{itemId}
    </update>


</mapper>