<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.csu.dyp.Persistence.OrderMapper">
    <insert id="addOrder" useGeneratedKeys="true" keyProperty="orderId" parameterType="Order">
        insert into orderInfo (userId, orderDate, shipAddress, billAddress, status)
        values(#{userId},now(),#{shipAddress},#{billAddress},1)
    </insert>

    <resultMap id="getOrderMap" type="Order">
        <result column="orderId" property="orderId"/>
        <result column="userId" property="userId"/>
        <result column="orderData" property="orderData"/>
        <result column="shipAddress" property="shipAddress"/>
        <result column="billAddress" property="billAddress"/>
        <result column="status" property="status" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
    </resultMap>

    <select id="getOrder" parameterType="String" resultMap="getOrderMap">
        select *
        from orderInfo
        where userId = #{userId}
    </select>

    <delete id="deleteOrder" parameterType="Order">
        delete
        from orderinfo
        where orderId = #{orderId}
    </delete>

    <update id="updateOrder" parameterType="Order">
        update orderinfo
        <set>
            <if test="userId!=null">userId=#{userId},</if>
            <if test="orderDate!=null">orderDate=#{orderDate},</if>
            <if test="shipAddress!=null">shipAddress=#{shipAddress},</if>
            <if test="billAddress!=null">billAddress=#{billAddress},</if>
            <if test="status!=null">status=#{status,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}</if>
        </set>
        where orderId=#{orderId}
    </update>


<!--    下为orderItem的代码-->
    <insert id="addOrderItem" parameterType="java.util.List">
        insert into orderItems (orderId, itemId, listPrice, attributes, number) values
        <foreach collection="list" item="orderItem" index="index" separator=",">
            (#{orderItem.orderId}, #{orderItem.itemId}, #{orderItem.listPrice}, #{orderItem.attributes}, #{orderItem.number})
        </foreach>
    </insert>

    <select id="getOrderItems" parameterType="String" resultType="OrderItem">
        select * from orderItems where orderId=#{orderId}
    </select>
</mapper>